<div class="row mt-1">

    <div class="col-md-4">
        <h6 class="mb-3">Total Cases</h6>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-content-center" *ngFor="let country of topConfirmedCases">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ country?.Country }}</div>
                </div>
                <span class="badge bg-warning rounded-pill">{{ country?.TotalConfirmed | number }}</span>
            </li>
        </ul>
    </div>

    <div class="col-md-4">
        <h6 class="mb-3">Total Deaths</h6>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-content-center" *ngFor="let country of topConfirmedDeaths">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ country?.Country }}</div>
                </div>
                <span class="badge bg-danger rounded-pill">{{ country?.TotalDeaths | number }}</span>
            </li>
        </ul>
    </div>

    <div class="col-md-4">
        <h6 class="mb-3">Total Recovered</h6>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-content-center" *ngFor="let country of topConfirmedRecovered">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ country?.Country }}</div>
                </div>
                <span class="badge bg-success rounded-pill">{{ country?.TotalConfirmed - country?.TotalDeaths | number }}</span>
            </li>
        </ul>
    </div>
</div>